<section id="cv">
    <div class="container">
        <h2><strong>Lebenslauf</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Ausbildung</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5><strong>Master 3 Jahre</strong> </h5>
                        <em class="font-italic">Master of Computer Application<br> Visveswaraya Technological University, In</em>
                        <p class="year p-2 d-flex justify-content-center">2007 - 2010</p>
                    </li>
                    <li>
                        <h5>Bachelor 3 Jahre</h5>
                        <em class="font-italic">Bachelor of Computer Application <br> Bangalore University, In</em>
                        <p class="year p-2 d-flex justify-content-center">2004 - 2007</p>
                    </li>
                  
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Berufserfahrung</strong></h4>
                <ul class="timeline">
                    <li>
                        <h5>Associate Consultant</h5>
                        <em>Vault Technologies Private Limited, Bangalore, IN</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">02-2010 - 05-2010 </p>
                            <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="freelanceScotfyIsShown">
                            <strong>Schulung</strong><br>
                            -C# .Net<br>
                            -Sql Server<br>
                            -Ciberlaw Produkt<br>
                            -Interne Software Tools
                            <br><br>
                         <strong>-Resume Builder Anwendung</strong>   
                         <br>  <em>kleine Aufgabe : </em><br>  Extrahieren aller Daten aus Benutzerformularen und Einreichen in der Strukturdatenbank.
                         </p>
                    </li>
                    <li>
                        <h5>Associate Consultant</h5>
                        <em>Cibersites India Private Limited, Bangalore, IN</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center"> 07-2010 - 03-2011 </p>
                            <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="freelanceIsShown">
                            Umfassende Arbeit im staatlichen Sektor mit Bezirksbehörden wie der Staatsanwaltschaft, dem Büro des Sheriffs, dem Haftbefehlssystem, dem Bewährungssystem, dem Gefängnis und dem Pflichtverteidigersystem als zugewiesene Beraterin.
                           <br><br> - <em>G</em>ute Kenntnisse des Lebenszyklus der Softwareentwicklung. Gute Kenntnisse von <em> Wasserfall </em> - und <em>Agile </em> -Methoden. <br><br> - <em>E</em>rfahrung in der Leitung von Entwicklungs und Supportprojekten.
                           <br><br> - <em>E</em>rfahrung mit <em> MVVM </em> , dreistufiger Architektur und <em>MVC </em> . Umfassende Teilnahme an Code-Reviews und funktionalen Überprüfungen.
                           <br><br> <strong> Verwendete Technologien: </strong>  .NET-Technologien, C#, HTML, Ajax, CSS, Reporting Services, SCRUM - Jira, Bugzilla, MS Sql Server, Stored Procedures, Funktionen.
                        <br> 
                        </p>
                    </li>
                    <li>
                        <h5>Technical Support Representative</h5>
                        <em>IBM India Private Limited, Hyderabad, IN</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">11-2012 - 05-2013</p>
                            <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                                Detail</button>
                        </div>
                        <p *ngIf="alternanceIsShown">
                                Workplace Services konzentrieren sich auf die Aufrechterhaltung der Benutzerproduktivität.
                            <br><br>Zu den Diensten gehören Incident-, Problem- und Change-Management.<br>
                            <br>Deskside-Support einschließlich Business Applikation Support, Messaging und Remote Connectivity.
                           <br> <br><strong>Verwendete Technologie: </strong> DB2, Tivoli software 
                        </p>
                    </li>
                    <li>
                        <h5>Anwendungsentwickler</h5>
                        <em>Vogel Druck und Medien Service, Höchberg, Bavaria, DE</em>
                        <div class="d-flex flex-row">
                            <p class="year p-2 d-flex justify-content-center">03-2020 - 12-2021</p>
                            <button (click)="detailOnClick('stage_detail')" type="button" class="btn btn-primary">+
                                Detail</button>

                        </div>
                        <p *ngIf="stageIsShown">
                          <strong>Projekt :3</strong>  <em>Personalbedarfsplannung </em>  
                           <strong>Technologien: </strong>  C# ,LinQ, WPF, Entity Framework, Sql Server, MVVM, Scrum - Confluence mit Jira
                            <strong> Verantwortlichkeiten: </strong>Entwurf und Entwicklung einer Anwendung, mit der ein Vorgesetzter Mitarbeiter auf der Grundlage ihrer Fähigkeiten zu Maschinen zuweisen kann. Zuweisung zu verschiedenen Kategorien und Abteilungen. Der Vorgesetzte kann auch die Abwesenheit von Mitarbeitern innerhalb desselben Systems verwalten. Der Vorgesetzte kann Mitarbeiter und Maschinen hinzufügen, löschen und aktualisieren. Das System kann auch Berichte im PDF erstellen und Ansichten auf täglichen, wöchentlichen und monatlichen Kalendern anzeigen.
                            <br><br>
                            <strong>Projekt :2</strong> <em>Inventarverwaltungssystem </em> 
                            <strong>Technologien: </strong> C# ,LinQ, Windows Forms, Sql Server, MVVM, Scrum
                             <strong>Verantwortlichkeiten: </strong> Design und Entwicklung einer C# Windows Form basierten Anwendung, die das alte Excel basierte Projekt automatisieren sollte. Hinzufügen, löschen, aktualisieren, sortieren, suchen Funktionalitäten auf der Inventarliste. Erzeugen von Berichten in Sql Server.
                            <br><br>
                            <strong>Projekt :1</strong> <em>Aktive Directory basierter Anwendungszugriff</em> 
                            <strong>Technologien: </strong> C# ,LinQ, Windows Forms, Aktive Directory, Sql Server, LDAP, MVVM, Scrum
                            <strong> Verantwortlichkeiten: </strong>   Entwurf und Entwicklung einer Windows Forms basierten Anwendung, die andere Anwendungen basierend auf Benutzerzugang und Aktive Directory starten kann. Der Anwendungspfad ist nur in der Datenbank verfügbar.
                            <br><br>
                            Während der<strong><em>   Elternzeit 01-11-2020 bis 18-11-2021   </em> </strong>.
                            Freiwillige Teilzeitarbeit Durchführen von Unit-Tests, Leistungstests, Entwicklung zusätzlicher Funktionen zur Verbesserung der Benutzerfreundlichkeit.
                            Fehlerbehebung, Support während und nach der Veröffentlichung des End projekts. 
                            <br>
                            <br>
                          <strong>Basisportfolio :</strong> <br> Basisportfolio in <em> Angular</em> und <em>Typescript</em> mit Visual Studio Code
                            
                            
                            
                        </p>
                    </li>

                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Sprachkenntnisse</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/france-flag1.png" width="20"
                                    alt="Flagge von deutschland"><strong> Deutsch</strong> <i class="val">
                                    B1-B2 niveau</i></span>
                        </div>

                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/united-kingdom-flag.png" width="20"
                                    alt="Flagge des Vereinigten Königreichs"><strong> Englisch</strong> <i class="val"> C1 niveau </i></span>
                        </div>
             
                    </div>
                </div>
      
            </div>

        </div>
    </div>
</section>